<div class="card border-primary mb-3">
    <div class="card-header">Products</div>
    <div class="card-body text-primary">
        <h5 class="card-title text-center">Welcome to {{ title }}</h5>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <table class="table table-bordered table-striped" *ngIf="products.length > 0; else noProducts">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Code</th>
                            <th scope="col">Description</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <div class="row">
                                <th colspan="2" scope="col">Operations</th>
                            </div>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td scope="col">{{product.code}}</td>
                            <td scope="col">{{product.description}}</td>
                            <td scope="col">{{product.quantity}}</td>
                            <td scope="col">{{product.price}}€</td>
                            <div class="row">
                            <td scope="col">
                                <button type="button" (click)="deleteProduct(product)"
                                    class="btn btn-danger">Delete</button>
                                <button type="button" (click)="selectProduct(product)"
                                    class="btn btn-primary">Select</button>
                            </td>
                        </div>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #noProducts>There are any products available</ng-template>



    <div class="card border-primary mb-2">
        <div class="card-header">Products</div>
        <div class="card-body text-primary">
            <form class="row">
                <div class="col-6 mb-3">
                    <label for="code" class="form-label">Code</label>
                    <input name="code" type="text" [(ngModel)]="product.code" class="form-control" id="codeInput"
                        aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input name="description" type="text" [(ngModel)]="product.description" class="form-control"
                        id="descriptionInput" aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-3">
                    <label for="quantity" class="form-label">Quantity</label>
                    <input name="quantity" type="text" [(ngModel)]="product.quantity" class="form-control"
                        id="quantityInput" aria-describedby="emailHelp">
                </div>
                <div class="col-6 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" type="text" [(ngModel)]="product.price" class="form-control" id="priceInput"
                        aria-describedby="emailHelp">
                </div>
                <div class="row d-flex justify-content-around">
                    <button type="submit" (click)="addProduct()" class="btn btn-success py-3 col-2">Add</button>
                    <button type="submit" (click)="modifyProduct()" class="btn btn-warning py-3 col-2">Edit</button>
                </div>
            </form>
        </div>
    </div>